<div class="container mt-5">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Access Denied</h4>
        <p>You do not have permission to view this page.</p>
        <hr>
        <a href="/" class="btn btn-primary">Return to Home</a>
    </div>
</div>